<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Welcome to Fwitter!</h1>
      </div>
    </header>
    <%=yield%>
  </body>
</html>
